$blue: #349fda;
.product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: center;
    .half {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        // height: 70%;
        &:nth-child(1) {
            margin-bottom: 20px;
        }
        &:nth-child(2) {
            width: 30%;
            min-width: 500px;
            background-color: white;
            border-radius: 10px;
            filter: drop-shadow(1px 1px 5px gray);
        }
        .short_desc,
        .name {
            text-align: center;
            width: 100%;
            font-family: "Roboto", sans-serif;
            overflow: auto;
            color: rgb(58, 60, 63);
        }
        .name {
            text-decoration: underline;
            font-size: 1.1rem;
            color: rgb(58, 60, 63);
        }
        .image {
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
            img {
                max-height: 400px;
                border-radius: 5px;
                filter: drop-shadow(1px 1px 5px gray);
            }
        }
    }
    .center {
        width: 100%;
        // height: 30%;
        .discription {
            p {
                padding-bottom: 10px;
                font-family: "Roboto", sans-serif;
            }
            table {
                width: 500px;
                filter: drop-shadow(2px 2px 2px silver);
                tr {
                    &:nth-child(odd) {
                        background: white;
                    }
                    &:nth-child(even) {
                        background: rgb(240, 240, 240);
                    }
                }
                td {
                    font-family: sans-serif;
                    padding: 5px;
                    margin: 0;
                    border-bottom: 1px solid gray;
                }
            }
        }
    }
}
.categories_product, .count{
    margin-top: 10px;
    width: 100%;
    font-family: sans-serif;
    color: darken($blue, 50%);
    .category_name {
        border-bottom: 1px solid gray;
        font-size: 1.1rem;
        padding: 3px 5px;
        width: 100%;
        margin-bottom: 5px;
    }
    .category {
        padding: 10px;
        text-align: left;
        width: 50%;
        background-color: $blue;
        color: white;
        border-bottom: 1px solid darken($blue, 10%);
        border-radius: 10px;
        margin-bottom: 5px;
    }
}
.count{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.input{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .plus, .minus{
        margin-top: 10px;
        font-size: 2rem;
    }
    .minus{
        color:red;
    }
    .plus{
        color:green;
    }
    input{
        height: 30px;
        width: 40px;
        text-align: center;
        font-size: 1.2rem;
        margin: 0 10px;
        color: black;
    }
}
.price{
    display: flex;
    width: 65%;
    justify-content:space-between;
    align-items: center;
    // justify-content: flex-end;
    .text{
        // width: 50%;
    }
    i{
        margin-left: 5px;
    }
}
.qr{
    width: 100%;
    display: flex;
    justify-content: center;
}
.item_price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.old_price_item{
    text-decoration: line-through;
    font-size: .9rem;
    margin: 0 5px;
}
.new_price_item{
    font-size: 1.1rem;
    
}
.makeBasket{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    .btn{
        padding: 10px;
        text-align: center;
        color:white;
        background-color: $blue;
        border-radius: 5px;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}